<div>
    <label for="first_name">Nombre</label>
    <input type="text" name="firstName" id="firstName">
    <label for="last_name">Apellido</label>
    <input type="text" name="lastName"  id="lastName">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email">
    <label for="profession">Profesión</label>
    <input type="text" name="profession" id="profession">

    <input type="submit" value="Save" id="save">

    <br/>
    <br/>

    <table id="tblUser" border="1"></table>
  
</div>